@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,600i');
@import url('https://fonts.googleapis.com/css?family=Offside');
@import url('https://fonts.googleapis.com/css?family=Gruppo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Magra');



p,li,span,h3{font-family: 'Magra', sans-serif;color:#000000;}
.letra{
	font-size: 60px;
	margin-top: 100px;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
/*texto*/
p{  
	color: #000000;
	font-size: 16px;

}
.titulo{
	font-family: 'Magra', sans-serif;
	color: #000000;
	padding-top: 10px;
}
/*menu*/
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar{
	background-color: #0496FF;
}
.navbar a{
	font-family: 'Merienda', cursive;
	font-size: 20px;
}
.fa-plane{
	color: #fff;
}
/*-----menu------*/
body{
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	height: auto;
	overflow-x: hidden;
}
/*header fixo*/

.fundo{
	position: relative;
	background-image: url('../img/cao_perfil4.jpg');
	background-repeat: no-repeat;
	height: 650px;
	width: 100%;
	margin-top: -20px;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	z-index: 1;
	animation: BackgroundGradient 60s ease infinite;
	
}
/*orientação de rotação da imagem*/
@keyframes BackgroundGradient{
  0%{background-position: 0% 50%;}
  50%{background-position: 100% 100%;}
  100%{background-position: 0% 50%;}
}

.fundo h1{
	font-family: 'Merienda', cursive;
	font-size: 50px;
	position: relative;
	margin: 0 auto;
	top: 140px;
	color:#fff;
	
}
.fundo h2{
	color: #fff;
	font-size: 50px;
	font-family: 'Merienda', cursive;
    margin-top: 200px;
    text-shadow: 1px 1px 0px #000000;
}

/*serviços*/
.comercio{
	position: relative;

}
article{
	margin-top: 70px;

	
	/*background-color: #C5EFF7;*/
}
#quemsomos{
	background-color: #FFD242;
}
#quemsomos p{
	
	height: 400px;
	font-size: 25px;
	margin: 0 auto;
	text-align: center;
}
#quemsomos b{
	color:#6BB9F0  ;
}
.btnloja{
	position: relative;
	top: 20px;
}
.btnloja a{
   background-color: #6BB9F0 ;
   padding: 10px;
   color:#fff;
   text-decoration: none;
   box-shadow: 1px 1px 0px 0px #000000;
}
/*destaque*/
#destaque h2{
	margin-top: 100px;
  font-family: 'Magra', sans-serif;
}
/*-----------------------*/
/*slid loja*/
.divslider{
	width: :100%;
	padding: 0;
	margin: 0;
}
/*cliente*/
#cliente{
  margin-top: 10px;
  background-color: #;	
}
#cliente .titulo{
	background-color: #FFD242;
	text-shadow: 1px 1px 1px #000000;
	padding: 5px;
  	color: #fff;
}
#cliente h3{
  	color: #000000;
  	text-shadow: 1px 1px 1px #000000;
}

#cliente p{
  	color: #000000;
}
.produtos h2{
	font-family: 'Magra', sans-serif;
	background-color: #FFD242;
	text-shadow: 1px 1px 1px #000000;
	padding: 5px;
  	color: #fff;
}
.produtos img{/*formatação das imagens no msm tamanho*/
	margin:0 auto;
	height: 247px;
}
.thumbnail a{
  font-family: 'Magra', sans-serif;
}
.caption h3{
  font-family: 'Magra', sans-serif;	
}
.btnmodal h1{
	color: #000000;
	border: 3px solid #000000;
	padding: 5px;
	transition: all .3s;
	font-family: 'Magra', sans-serif;
}
.btnmodal h1:hover{
   color: #fff;
   background-color:#000000;
}
.btnmodal2 b{
	position: relative;
	top:20px;
}
.btnmodal2{
	font-size: 30px;
	height: 100px;
	font-family: 'Magra', sans-serif;
	text-align: center;
	background-color: #B7D3F2;
	color:#80A1D4;
	text-shadow: 1px 1px 1px #fff;
}

/*mapa tradicional*/

/*#map {
	height: 100%;
} 
#btnmapa{
	position: relative;
	width: 240px;
	height: 30px;
	background-color: #fff;
	z-index: 1000;
	top:110px;
	left: 10px;
}  
#btnmapa input{
	margin-left: 5px
}*/
.mapa{
	margin-bottom: 10px;
}
#mapa{

	height: 700px;
}
#mapa h2{
	margin-top: 80px;
}
#mapa p{
	
	color: #000000;
}

#map_wrapper {
    height: 700px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
#map p{
       background-color: #fff;
}
#escondido{
	color: #000000;
}
/*quem somos*/

  /*border-radius: 661px;*/

}
/*veterinario*/
#veterinario{
	background-color: #A9D6EB;
}
#veterinario h2{
	font-family: 'Magra', sans-serif;
	color: #000000;
}
#veterinario p{
	margin-top: 5px;
}
/*veterinario fim*/
.fundo2{
	height: 300px;
	background-image: url('../img/cao_e_gato2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	margin-bottom: -20px;
}
.fundo2 h1{
    color:#fff;
    font-size: 5em;	
    text-shadow: 0 5px 4px rgba(0,0,0,.5);
	font-family: 'Magra', sans-serif;
}
.fundo2 span{
	font-size: 27px;
    color:#fff;
    text-shadow: 0 5px 4px rgba(0,0,0,.5);
	font-family: 'Magra', sans-serif;
}
#rodape{
	background-color: #000000;
}
footer{
	background-color: #000000;
	height: auto;
	margin-top: 20px;
}
footer ul li{
	color: #fff;
	list-style: none;
	
}
footer h4{
	font-family: 'Magra', sans-serif;
	border-top: solid 1px #fff;
	color: #fff;
}
footer h5{
	font-family: 'Magra', sans-serif;
	color: #fff;
	font-size: 15px;
	margin-top: 20px;
}
footer p{

	color: #fff;
}
footer h5{
	color: #fff;
	text-align: center;
	font-family: 'Magra', sans-serif;

}
footer .col-md-4{
		margin-top: 100px;

}
#volta{
	color: #fff;
	font-size: 20px;
}
#volta a{
	text-decoration: none;
}
.form-group label{
	font-family: 'Magra', sans-serif;
}
/*tirando caixa do input*/
.form-group input[type="text"],
.form-group input[type="email"]
{
	border:none;
	border-bottom: 2px solid #000000;
	background-color: transparent;
	outline: none;
	font-family: 'Magra', sans-serif;

}
/*Colocar o ALT*/
/*img[alt=""],img:not([alt]){border: 5px dashed #ff0000;}*/